.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  margin-right: 0.75rem;
}
.some > section > div {
  border: 1.5rem solid rgb(0,0,0,0.2) !important;
  box-shadow: rgb(44, 47, 65, 0.3) 0px 0px 0px 5px inset !important;
}
.react-heading{
  color:#2c2f40 !important;
  font-size: 4.5rem !important;
}
.attendance-heading{
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #c7ccec;
}
.heading{
  font-family: Helvetica, Sans-Serif;
  font-weight: bold;
  font-size:4rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #4b4f6c;
  /* line-height: 2; */
}
/* #e2e7f6 */
.btn-outline-primary {
  color: #2c2f40 !important;
  background-color: transparent !important;
  border: solid 2px #2c2f40 !important;
  border-color: #2c2f40 !important;
}
.btn-outline-primary:hover {
  color: #e2e7f6 !important;
  background-color: #2c2f40 !important;
  border-color: #2c2f40 !important;
}
.btn-check:focus+.btn-outline-primary, .btn-outline-primary:active,.btn-outline-primary:focus-visible .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(44, 47, 64, 0.3) !important;
}
.form-control:focus {
  border-color: rgb(44, 47, 64, 0.3) !important;
  box-shadow: 0 0 0 0.25rem rgb(44, 47, 64, 0.3) !important;
}
.btn-primary {
  color: #2c2f40 !important;
  background-color: #c7ccec !important;
  border: solid 2px #c7ccec !important;
  border-color: #c7ccec !important;
}
.bord{
  border-color: #2c2f40 !important;
}
.btn-primary:hover {
  color: #e2e7f6 !important;
  background-color: #767da7 !important;
  border-color: #767da7 !important;
}
.btn-check:focus+.btn-primary, .btn-primary:active,.btn-primary:focus-visible .btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(118, 126, 167, 0.3) !important;
}
.img-container{
  position: relative !important;
  overflow: hidden !important;
}
.imag{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.25;
}
h5{
  z-index: 2;
  position: relative;
}
@media (max-width : 768px){
  .breakpoint{
    display: none !important;
  }
  a{
    margin-right: 0rem !important;
  }
}
.login{
  background-color: #2c2f40;
}
.style-button{
  color: #2c2f40 !important;
  background-color: #c7ccec !important;
  border: solid 2px #c7ccec !important;
  border-color: #c7ccec !important;
}
.style-button:hover{
  box-shadow: #c7ccec 0px 1px 1px 1px !important;
}
.style-button > div{
  background-color: transparent !important;
}
.href-style{
  color: #c7ccec !important;
  text-decoration: none !important;
}
.href-style:hover{
  text-decoration: underline !important;
}
